certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
construct==2.10.56
crypto==1.4.1
cryptography==3.2.1
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
lxml==4.6.2
Naked==0.1.31
protobuf==3.15.1
pycryptodome==3.9.9
pytlv==0.71
PyYAML==5.3.1
requests==2.25.0
shellescape==3.8.1
six==1.15.0
urllib3==1.26.2
